@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  width: 100vw;
  padding-bottom: 60px;
  overflow-x: hidden;

  background-color: rgba(0, 0, 0, .5);
  background-image: url(/img/background.jpg);
}

header {
  width: 100vw;
  z-index: 99;
  height: 72px;
  background-color: rgba(20, 20, 20, .85);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #00ff80;
  text-align: center;
  font-size: 3rem;
  font-family: 'Teko', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#desktop {
  display: none;
}

#mobile {
  display: none;
}


ul {
  transition: all ease 200ms;
  opacity: 0;
  pointer-events: none;
  display: inline-flex;
  list-style: none;
  position: absolute;
  right: calc(54px + 1rem);
}

ul.active {
  pointer-events: all;
  opacity: 1;
}

li {
  font-family: "Teko", sans-serif;
  margin-inline: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.scoreBoard {
  font-family: "Teko", sans-serif;
  position: relative;
  width: 1024px;
  height: 60px;
  background-color: #000;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.scoreBoard div {
  display: flex;
}

.score {
  font-weight: normal;
  margin-left: 12px;
  color: #00ff80;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  width: 54px;
  display: flex;
  align-items: center;
}

#refresh {
  font-size: 1.75rem;
}

.select-mode {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  width: 1024px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 18px 24px rgba(255,255,255, 0.75);
}

button {
  font-family: "Teko", sans-serif;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  background-color: #404040;
  color: #FFF;
  border: 0;
  margin-block: .5rem;
  height: 2rem;
  transition: all 250ms;
}

button:hover {
  background-color: rgba(40, 40, 40, .5);
}

/* /////////// mobile //////////// */
@media screen and (max-width: 1024px) {

  body {
    padding-bottom: 12px;
  }

  .container {
    justify-content: center;
    min-height: calc(100vh - 256px);
    margin-top: 12px;
  }

  #settings,
  #refresh {
    margin-inline: .25rem;
  }

  li {
    margin-inline: .75rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .scoreBoard {
    max-width: 95vw;
    width: 480px;
  }

  canvas {
    max-width: 95vw;
  }

  .select-mode {
    width: 480px;
    max-width: 95vw;
  }
}