@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgb(0, 120, 60) 75%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
    z-index: 5;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 99;
  top: 0;
  height: 72px;
  background-color: rgba(0,0,0, .85);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #00ff80;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Righteous', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-name: opening;
  animation-duration: 500ms;
  position: relative;
}

h1::after{
  content: '';
  position: absolute;
  width: inherit;
  height: 1px;
  border-radius: 100%;
  background: #00ff80;
  bottom: -3px;
  left: 0;
  right: 0;
  opacity: 0.75;
  margin: 0 auto;
  animation: flash;
  animation-duration: 2.5s;
  
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .1;
  background-position: center;
  background-size: cover;
  background-image: url("/img/background.jpg");}
canvas {
  border-radius: 0 0 10px 10px;
}
div {
  display: flex;
}
ul {
  transition: all ease 200ms;
  opacity: 0;
  pointer-events: none;
  display: inline-flex;
  list-style: none;
  position: absolute;
  right: calc(54px + 1rem);
}
ul.active {
  pointer-events: all;
  opacity: 1;
}

li {
  margin-inline: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.scoreBoard {
  position: relative;
  width: 720px;
  height: 60px;
  background-color: #000;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-size: 1.75rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
.score {
  font-weight: normal;
  margin-left: 12px;
  color: #00ff80;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  width: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#refresh {
  font-size: 1.75rem;
}

/* /////////// css animations //////////// */


@keyframes opening{
  0% {
    transform: rotatex(180deg);
    transform: scaleY(0);
   }
  
   100% {
    transform: rotatex(0deg);
    transform: scaleY(1);
   }
  }
@keyframes flash{
to {
    transform: rotateY(360deg);
   }
  }
  